In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
# actual data
data_fetch_dates = ['0905', '0706', '0207']
actual_data = pd.concat([pd.merge(
    pd.read_csv(f'actualdata_trips_{date}.csv'), pd.read_csv(f'actualdata_stop_times_{date}.csv'), 
    how='left', left_on=['TripId'], right_on='TripId'
) for date in data_fetch_dates], axis=0)

# data cleaning: remove redundant column EntityId because it holds sim(EntityId, TripId) = 1
actual_data.drop('EntityId', axis=1, inplace=True)

actual_data.set_index(['TripId', 'StartDate'], inplace=True)
actual_data.head()

,,RouteId,StartTime,StopId,StopSequence,ArrivalDelay,ArrivalTime,DepartureDelay,DepartureTime,ScheduleRelationship
TripId,StartDate,,,,,,,,,
254163638,20230508,43975,19:44:00,9057862,NaN,NaN,NaN,0.0,NaN,Scheduled
282351984,20230509,43245,17:12:00,9013478,NaN,NaN,NaN,0.0,NaN,Scheduled
282385362,20230508,43195,20:03:00,9058008,5.0,-60.0,NaN,0.0,NaN,Scheduled
264505093,20230508,59935,19:12:00,9050640,11.0,30.0,NaN,30.0,NaN,Scheduled
282384857,20230509,43216,04:37:00,9049320,NaN,NaN,NaN,0.0,NaN,Scheduled

In [4]:
# target data
dir_target = 'C:\\Users\\nstan\\OneDrive\\Winfo\\SoSe_23\\Data Integration\\target_data_vbn_modified'
rnames = ['trips', 'stops', 'stop_times', 'agency', 'routes', 'transfers']
target_data = {rname: pd.read_csv(f'{dir_target}\\{rname}.csv', low_memory=False) for rname in rnames}

In [19]:
# perform joins on target data relations
# step 1: join routes and agency (= r1)
r1 = pd.merge(target_data['routes'], target_data['agency'], how='left', left_on=['agency_id'], right_on=['agency_id'])
r1.head(3)

   route_id  agency_id route_short_name  route_type     agency_name
0     71026       1060            SEV24           1  S-Bahn Hamburg
1     71025       1060            SEV10           1  S-Bahn Hamburg
2     70978       1060            SEV21           2  S-Bahn Hamburg

In [23]:
# step 2: join r1 and trips (= r2)
r2 = pd.merge(r1, target_data['trips'], how='left', left_on=['route_id'], right_on=['route_id'])
r2.head(3)

,route_id,agency_id,route_short_name,route_type,agency_name,service_id,trip_id,trip_headsign,trip_short_name,direction_id
0,71026,1060,SEV24,1,S-Bahn Hamburg,1,282300445,Buxtehude,01000,0
1,71025,1060,SEV10,1,S-Bahn Hamburg,2,282299554,Hamburg-Harburg Rathaus,00001,0
2,71025,1060,SEV10,1,S-Bahn Hamburg,1,282299537,Hamburg-Harburg Rathaus,00001,0

In [27]:
# step 3: join r2 and stop_times (= r3)
r3 = pd.merge(r2, target_data['stop_times'], how='left', left_on=['trip_id'], right_on=['trip_id'])
r3.head(3)

,route_id,agency_id,route_short_name,route_type,agency_name,service_id,trip_id,trip_headsign,trip_short_name,direction_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,71026,1060,SEV24,1,S-Bahn Hamburg,1,282300445,Buxtehude,01000,0,23:20:00,23:20:00,8002557,0,0,0
1,71026,1060,SEV24,1,S-Bahn Hamburg,1,282300445,Buxtehude,01000,0,23:25:00,23:25:00,2804001,1,0,0
2,71026,1060,SEV24,1,S-Bahn Hamburg,1,282300445,Buxtehude,01000,0,23:30:00,23:30:00,2047308,2,0,0

In [30]:
# step 3: join r3 and stops (= r4)
r4 = pd.merge(r3, target_data['stops'], how='left', left_on=['stop_id'], right_on=['stop_id'])
r4.head(3)

,route_id,agency_id,route_short_name,route_type,agency_name,service_id,trip_id,trip_headsign,trip_short_name,direction_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon
0,71026,1060,SEV24,1,S-Bahn Hamburg,1,282300445,Buxtehude,01000,0,23:20:00,23:20:00,8002557,0,0,0,Hamburg-Neugraben,53.474143,9.852048
1,71026,1060,SEV24,1,S-Bahn Hamburg,1,282300445,Buxtehude,01000,0,23:25:00,23:25:00,2804001,1,0,0,Hamburg-Fischbek An de Geest,53.469749,9.818922
2,71026,1060,SEV24,1,S-Bahn Hamburg,1,282300445,Buxtehude,01000,0,23:30:00,23:30:00,2047308,2,0,0,Neu Wulmstorf(Niederelbe) Hauptstraße,53.463750,9.798360

In [32]:
actual_data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 11273 entries, (254163638, 20230508) to (292610307, 20230702)
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   RouteId               11273 non-null  int64
 1   StartTime             11273 non-null  object
 2   StopId                11273 non-null  int64
 3   StopSequence          3430 non-null   float64
 4   ArrivalDelay          3093 non-null   float64
 5   ArrivalTime           67 non-null     float64
 6   DepartureDelay        11205 non-null  float64
 7   DepartureTime         111 non-null    float64
 8   ScheduleRelationship  11273 non-null  object
dtypes: float64(5), int64(2), object(2)
memory usage: 1.1+ MB

In [34]:
len(np.unique(actual_data['RouteId']))

1031

In [89]:
# overall delay
arrival_delays = [x for x in actual_data['ArrivalDelay'] if not (pd.isna(x) or x == 0)]
departure_delays = [x for x in actual_data['DepartureDelay'] if not (pd.isna(x) or x == 0)]
ad = len(arrival_delays) / actual_data.shape[0] * 100
dd = len(departure_delays) / actual_data.shape[0] * 100
print('arrival delay in {x} % of rides'.format(x=round(ad, 2)))
print('departure delay in {x} % of rides'.format(x=round(dd, 2)))

print('arrival delay: {x}'.format(x=round(np.mean(arrival_delays), 2)))
print('departure delay: {x}'.format(x=round(np.mean(departure_delays), 2)))
departure_delays
# why negative values?

arrival delay in 15.6 % of rides
departure delay in 17.99 % of rides
arrival delay: 110.68
departure delay: 134.61

[30.0,
 39.0,
 60.0,
 60.0,
 120.0,
 70.0,
 224.0,
 201.0,
 60.0,
 89.0,
 392.0,
 45.0,
 235.0,
 60.0,
 -30.0,
 42.0,
 -30.0,
 40.0,
 60.0,
 303.0,
 97.0,
 18.0,
 60.0,
 24.0,
 720.0,
 40.0,
 420.0,
 1140.0,
 30.0,
 508.0,
 -4.0,
 60.0,
 120.0,
 30.0,
 456.0,
 20.0,
 960.0,
 120.0,
 -120.0,
 89.0,
 60.0,
 30.0,
 24.0,
 42.0,
 -30.0,
 18.0,
 60.0,
 30.0,
 3.0,
 6.0,
 48.0,
 60.0,
 180.0,
 60.0,
 60.0,
 20.0,
 2.0,
 60.0,
 540.0,
 1200.0,
 60.0,
 120.0,
 1200.0,
 40.0,
 12.0,
 203.0,
 1080.0,
 23.0,
 300.0,
 60.0,
 60.0,
 10.0,
 43.0,
 180.0,
 18.0,
 300.0,
 6.0,
 60.0,
 69.0,
 -180.0,
 221.0,
 60.0,
 30.0,
 20.0,
 720.0,
 101.0,
 30.0,
 351.0,
 88.0,
 60.0,
 -30.0,
 20.0,
 120.0,
 -30.0,
 26.0,
 30.0,
 30.0,
 8.0,
 206.0,
 240.0,
 78.0,
 60.0,
 125.0,
 -30.0,
 60.0,
 96.0,
 -39.0,
 45.0,
 24.0,
 7.0,
 20.0,
 30.0,
 30.0,
 1620.0,
 69.0,
 660.0,
 20.0,
 30.0,
 30.0,
 128.0,
 184.0,
 30.0,
 50.0,
 157.0,
 30.0,
 420.0,
 180.0,
 60.0,
 60.0,
 60.0,
 36.0,
 90.0,
 120.0,
 60.0,
 60.0,
 60.0,
 143.0,
 12.0,
 24.0,
 60.0,
 1320.0,
 60.0,
 486.0,
 160.0,
 180.0,
 40.0,
 61.0,
 30.0,
 60.0,
 60.0,
 204.0,
 30.0,
 -30.0,
 1260.0,
 20.0,
 240.0,
 60.0,
 22.0,
 180.0,
 334.0,
 240.0,
 60.0,
 50.0,
 960.0,
 204.0,
 180.0,
 30.0,
 37.0,
 30.0,
 10.0,
 60.0,
 60.0,
 60.0,
 94.0,
 1080.0,
 18.0,
 28.0,
 300.0,
 228.0,
 202.0,
 60.0,
 30.0,
 -30.0,
 42.0,
 30.0,
 3.0,
 323.0,
 221.0,
 42.0,
 171.0,
 33.0,
 30.0,
 187.0,
 10.0,
 42.0,
 12.0,
 24.0,
 240.0,
 60.0,
 206.0,
 -30.0,
 30.0,
 374.0,
 24.0,
 120.0,
 120.0,
 30.0,
 10.0,
 30.0,
 184.0,
 360.0,
 100.0,
 30.0,
 85.0,
 24.0,
 120.0,
 30.0,
 240.0,
 239.0,
 60.0,
 30.0,
 30.0,
 30.0,
 240.0,
 200.0,
 30.0,
 24.0,
 420.0,
 18.0,
 18.0,
 60.0,
 12.0,
 149.0,
 297.0,
 159.0,
 120.0,
 30.0,
 1980.0,
 73.0,
 50.0,
 60.0,
 20.0,
 300.0,
 142.0,
 180.0,
 -30.0,
 86.0,
 30.0,
 357.0,
 222.0,
 120.0,
 12.0,
 288.0,
 120.0,
 277.0,
 120.0,
 42.0,
 240.0,
 180.0,
 300.0,
 120.0,
 -30.0,
 4.0,
 212.0,
 765.0,
 60.0,
 -30.0,
 120.0,
 240.0,
 20.0,
 30.0,
 7.0,
 377.0,
 120.0,
 30.0,
 109.0,
 180.0,
 110.0,
 218.0,
 30.0,
 720.0,
 -237.0,
 24.0,
 60.0,
 30.0,
 60.0,
 43.0,
 98.0,
 60.0,
 60.0,
 -30.0,
 60.0,
 60.0,
 -30.0,
 244.0,
 8.0,
 25.0,
 103.0,
 -30.0,
 120.0,
 30.0,
 146.0,
 60.0,
 -30.0,
 20.0,
 60.0,
 193.0,
 120.0,
 1020.0,
 180.0,
 45.0,
 30.0,
 30.0,
 102.0,
 84.0,
 119.0,
 81.0,
 30.0,
 360.0,
 12.0,
 61.0,
 180.0,
 31.0,
 1.0,
 98.0,
 13.0,
 60.0,
 24.0,
 42.0,
 180.0,
 180.0,
 -30.0,
 120.0,
 140.0,
 -71.0,
 6.0,
 120.0,
 120.0,
 30.0,
 42.0,
 201.0,
 168.0,
 289.0,
 240.0,
 60.0,
 43.0,
 142.0,
 60.0,
 94.0,
 18.0,
 71.0,
 300.0,
 480.0,
 -85.0,
 204.0,
 192.0,
 30.0,
 52.0,
 -30.0,
 25.0,
 -30.0,
 30.0,
 180.0,
 83.0,
 60.0,
 120.0,
 240.0,
 172.0,
 30.0,
 168.0,
 120.0,
 103.0,
 60.0,
 30.0,
 56.0,
 19.0,
 6.0,
 101.0,
 76.0,
 87.0,
 120.0,
 60.0,
 132.0,
 74.0,
 24.0,
 139.0,
 12.0,
 229.0,
 7.0,
 60.0,
 71.0,
 60.0,
 -282.0,
 80.0,
 60.0,
 682.0,
 60.0,
 145.0,
 24.0,
 180.0,
 136.0,
 -42.0,
 466.0,
 40.0,
 1957.0,
 88.0,
 72.0,
 406.0,
 24.0,
 255.0,
 925.0,
 82.0,
 30.0,
 60.0,
 393.0,
 60.0,
 341.0,
 30.0,
 16.0,
 59.0,
 30.0,
 89.0,
 30.0,
 80.0,
 272.0,
 102.0,
 180.0,
 540.0,
 60.0,
 63.0,
 689.0,
 312.0,
 269.0,
 60.0,
 135.0,
 30.0,
 24.0,
 6.0,
 96.0,
 24.0,
 198.0,
 18.0,
 60.0,
 32.0,
 180.0,
 100.0,
 60.0,
 63.0,
 6.0,
 30.0,
 391.0,
 267.0,
 61.0,
 -30.0,
 62.0,
 18.0,
 66.0,
 131.0,
 86.0,
 540.0,
 76.0,
 360.0,
 180.0,
 140.0,
 60.0,
 585.0,
 60.0,
 18.0,
 30.0,
 30.0,
 83.0,
 60.0,
 30.0,
 20.0,
 87.0,
 137.0,
 133.0,
 30.0,
 60.0,
 240.0,
 60.0,
 183.0,
 42.0,
 6.0,
 18.0,
 48.0,
 406.0,
 24.0,
 9.0,
 241.0,
 413.0,
 523.0,
 240.0,
 60.0,
 125.0,
 60.0,
 251.0,
 84.0,
 135.0,
 12.0,
 72.0,
 32.0,
 24.0,
 212.0,
 24.0,
 300.0,
 217.0,
 -30.0,
 30.0,
 24.0,
 240.0,
 28.0,
 531.0,
 311.0,
 48.0,
 8.0,
 80.0,
 6.0,
 39.0,
 12.0,
 84.0,
 30.0,
 6.0,
 330.0,
 36.0,
 24.0,
 322.0,
 196.0,
 660.0,
 103.0,
 4.0,
 2.0,
 12.0,
 36.0,
 360.0,
 84.0,
 24.0,
 120.0,
 95.0,
 30.0,
 109.0,
 60.0,
 470.0,
 117.0,
 480.0,
 133.0,
 358.0,
 92.0,
 30.0,
 178.0,
 120.0,
 360.0,
 404.0,
 243.0,
 253.0,
 6.0,
 40.0,
 12.0,
 123.0,
 64.0,
 60.0,
 6.0,
 532.0,
 273.0,
 120.0,
 18.0,
 278.0,
 24.0,
 109.0,
 79.0,
 749.0,
 83.0,
 42.0,
 60.0,
 360.0,
 49.0,
 6.0,
 161.0,
 24.0,
 381.0,
 124.0,
 151.0,
 189.0,
 18.0,
 6.0,
 26.0,
 12.0,
 177.0,
 76.0,
 30.0,
 240.0,
 74.0,
 62.0,
 -6.0,
 1102.0,
 60.0,
 120.0,
 188.0,
 61.0,
 192.0,
 67.0,
 3.0,
 63.0,
 390.0,
 202.0,
 86.0,
 7.0,
 176.0,
 12.0,
 29.0,
 581.0,
 65.0,
 141.0,
 60.0,
 4.0,
 30.0,
 -60.0,
 127.0,
 337.0,
 377.0,
 6.0,
 133.0,
 387.0,
 60.0,
 30.0,
 24.0,
 30.0,
 64.0,
 68.0,
 52.0,
 80.0,
 30.0,
 60.0,
 18.0,
 9.0,
 60.0,
 300.0,
 65.0,
 195.0,
 -30.0,
 65.0,
 60.0,
 132.0,
 358.0,
 30.0,
 62.0,
 445.0,
 24.0,
 430.0,
 147.0,
 30.0,
 313.0,
 40.0,
 7.0,
 60.0,
 480.0,
 136.0,
 247.0,
 157.0,
 6.0,
 30.0,
 150.0,
 60.0,
 24.0,
 323.0,
 92.0,
 62.0,
 30.0,
 71.0,
 203.0,
 262.0,
 389.0,
 42.0,
 660.0,
 4.0,
 211.0,
 64.0,
 54.0,
 16.0,
 85.0,
 250.0,
 197.0,
 255.0,
 1680.0,
 326.0,
 85.0,
 180.0,
 133.0,
 120.0,
 -75.0,
 1140.0,
 6.0,
 20.0,
 240.0,
 133.0,
 241.0,
 420.0,
 355.0,
 2.0,
 16.0,
 171.0,
 61.0,
 42.0,
 12.0,
 215.0,
 240.0,
 180.0,
 60.0,
 232.0,
 164.0,
 225.0,
 48.0,
 64.0,
 120.0,
 65.0,
 61.0,
 60.0,
 60.0,
 7.0,
 157.0,
 60.0,
 434.0,
 122.0,
 60.0,
 1140.0,
 2453.0,
 360.0,
 60.0,
 30.0,
 94.0,
 480.0,
 209.0,
 30.0,
 122.0,
 541.0,
 180.0,
 955.0,
 100.0,
 207.0,
 161.0,
 120.0,
 122.0,
 141.0,
 800.0,
 12.0,
 321.0,
 472.0,
 45.0,
 84.0,
 152.0,
 271.0,
 159.0,
 92.0,
 240.0,
 405.0,
 120.0,
 60.0,
 223.0,
 131.0,
 144.0,
 273.0,
 643.0,
 283.0,
 60.0,
 56.0,
 125.0,
 7.0,
 233.0,
 60.0,
 30.0,
 60.0,
 30.0,
 78.0,
 24.0,
 353.0,
 196.0,
 120.0,
 12.0,
 24.0,
 120.0,
 24.0,
 14.0,
 51.0,
 142.0,
 300.0,
 120.0,
 63.0,
 -60.0,
 7.0,
 120.0,
 158.0,
 101.0,
 95.0,
 -135.0,
 392.0,
 61.0,
 277.0,
 172.0,
 -6.0,
 60.0,
 103.0,
 136.0,
 267.0,
 30.0,
 120.0,
 900.0,
 235.0,
 133.0,
 130.0,
 120.0,
 180.0,
 72.0,
 -30.0,
 42.0,
 11.0,
 60.0,
 192.0,
 77.0,
 480.0,
 64.0,
 24.0,
 18.0,
 120.0,
 65.0,
 176.0,
 60.0,
 24.0,
 60.0,
 66.0,
 480.0,
 95.0,
 180.0,
 180.0,
 180.0,
 6.0,
 224.0,
 300.0,
 244.0,
 12.0,
 30.0,
 180.0,
 75.0,
 165.0,
 166.0,
 109.0,
 6.0,
 420.0,
 265.0,
 50.0,
 66.0,
 400.0,
 120.0,
 780.0,
 120.0,
 53.0,
 -30.0,
 60.0,
 540.0,
 72.0,
 75.0,
 92.0,
 12.0,
 60.0,
 24.0,
 138.0,
 60.0,
 18.0,
 180.0,
 60.0,
 138.0,
 48.0,
 490.0,
 360.0,
 19.0,
 4.0,
 60.0,
 24.0,
 92.0,
 477.0,
 30.0,
 200.0,
 42.0,
 120.0,
 -231.0,
 187.0,
 42.0,
 120.0,
 123.0,
 -30.0,
 6.0,
 167.0,
 296.0,
 136.0,
 98.0,
 645.0,
 450.0,
 52.0,
 260.0,
 6.0,
 420.0,
 107.0,
 -30.0,
 191.0,
 180.0,
 12.0,
 -110.0,
 128.0,
 220.0,
 51.0,
 48.0,
 328.0,
 18.0,
 200.0,
 1.0,
 12.0,
 60.0,
 26.0,
 101.0,
 64.0,
 18.0,
 178.0,
 30.0,
 194.0,
 20.0,
 66.0,
 24.0,
 245.0,
 395.0,
 60.0,
 60.0,
 120.0,
 120.0,
 74.0,
 24.0,
 3.0,
 180.0,
 55.0,
 73.0,
 64.0,
 -129.0,
 30.0,
 6.0,
 -300.0,
 43.0,
 164.0,
 30.0,
 73.0,
 300.0,
 133.0,
 -47.0,
 120.0,
 749.0,
 180.0,
 360.0,
 60.0,
 300.0,
 18.0,
 180.0,
 60.0,
 60.0,
 19.0,
 26.0,
 15.0,
 64.0,
 433.0,
 120.0,
 240.0,
 62.0,
 197.0,
 30.0,
 48.0,
 120.0,
 30.0,
 311.0,
 120.0,
 136.0,
 131.0,
 480.0,
 71.0,
 69.0,
 240.0,
 60.0,
 30.0,
 283.0,
 180.0,
 43.0,
 230.0,
 60.0,
 189.0,
 43.0,
 480.0,
 480.0,
 80.0,
 60.0,
 180.0,
 149.0,
 30.0,
 221.0,
 180.0,
 420.0,
 ...]

In [ ]:
# departure delay > arrival delay => delay increases when trains are in stations

In [ ]:
# step 3: join TARGET trips and stop_times
r4 = pd.merge(target_data['stop_times'], target_data['trips'], how='left', left_on=['trip_id'], right_on=['trip_id'])
r4.head(3)

In [149]:
# join actual and target data using the Route-Id
r = pd.merge(actual_data, r1, how='left', left_on=['RouteId'], right_on=['route_id'])
pd.concat([
    r[['agency_name', 'ArrivalDelay']].where(~pd.isna(r['ArrivalDelay'])).where(
        r['ArrivalDelay'] != 0).groupby(['agency_name']).mean(),
    r[['agency_name', 'DepartureDelay']].where(~pd.isna(r['DepartureDelay'])).where(
        r['DepartureDelay'] != 0).groupby(['agency_name']).mean()
], axis=1).loc[(r['agency_name'].value_counts() > 100).index[r['agency_name'].value_counts() > 200]]

# 1. delay according to different agencies

                                            ArrivalDelay  DepartureDelay
DB Regio AG Nord                               87.789474      164.835165
Bremer Straßenbahn AG                          41.569697       38.212838
üstra Hannoversche Verkehrsbetriebe AG        127.000000      107.839572
RegioBus Hannover GmbH                         72.971429      139.707143
NordWestBahn                                  175.531915      417.500000
Braunschweiger Verkehrs-GmbH                   89.465116       96.725000
S-Bahn Hannover (Transdev)                    184.000000      170.000000
Verkehr und Wasser GmbH (VWG)                 180.069767      171.122222
Verkehrsbetriebe Oldenburger Land             189.391304      210.019231
cantus Verkehrsgesellschaft                    20.000000       80.000000
Kraftverkehrsgesellschaft mbH Braunschweig     87.843750      212.462687

In [150]:
# 2. delay according to means of transportation
r1['route_short_name']
# ...

0       SEV24
1       SEV10
2       SEV21
3       SEV20
4        RE86
        ...
2854      276
2855      275
2856      263
2857      262
2858      261
Name: route_short_name, Length: 2859, dtype: object

In [ ]:
# join r1 and r4 on Trip Id and Stop Id
# their schemata match for the most part
# however, using a left join enables to get all delays even if there is no join match
# (possible because there is no inclusion dependency)
#r5 = pd.merge(r1, r4, how='inner', left_on=['TripId', 'StopId'], right_on=['trip_id', 'stop_id'])
#r5